<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcxtzhang.buy">

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BuyMainActivity"></activity>
    </application>

</manifest>